/* CSS Document */

@media (max-width: 1050px) {
	div#menu > ul {
		flex-direction: column;
	}

	body > div#menu > ul > li.selected > a,
	body > div#menu > ul > li > a.active,
	body > div#menu > ul > li > a {
		width: 100%;
	}

	/** Too lazy to display the image **/
	/** Distracting on mobile anyway **/
	div.main > div.background-image {
		display: none;
	}

	body > div.main > div.tabcontents {
		background-color: white;
		position: static;
		padding: 0 50px;
		padding-bottom: 25px;
		min-height: 0;
	}
}

html {
	height: 1200px;
}

body {
	width: 100%;
	max-width: 1050px;
	margin: auto;
	height: 100%;
	background-repeat: repeat-x;
	background-image: url(../images/backgrounds/EAH_background.jpg);
	background-position: center top;
	background-color: #651515;
}


div#header {
	height: auto;
	max-height: 140px;
	width: 100%;
	max-width: 1050px;
	padding-top: 2px;
	/*background-color:#520E0E*/
}

div#header img {
	height: auto;
	width: 100%;
	max-width: 1050px;
}

div#menu {
	width: 100%;
	max-width: 1050px;
	margin: 0;
}

div#menu > ul {
	margin: 0;
	list-style: none;
	padding: 0;
	font-size: 0px;
	display: flex;
}

div#menu > ul > li {
	flex: 1;
	display: inline-block;
}

div#menu > ul > li > a {
	text-decoration: none;
	display: block;
	width: 150px;
	text-align: center;
	color: #ffffff;
	font-style: normal;
	font-weight: bolder;
	height: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	background-image: url(../images/backgrounds/nav1.png);
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

div#menu > ul > li > a:hover {
	color: #000000;
	background-image: url(../images/backgrounds/nav2.png);
}

div#menu > ul > li > a.active {
	width: 150px;
	background-image: url(../images/backgrounds/nav2.png);
}

div#menu > ul > li.selected > a {
	color: #000000;
	background-image: url(../images/backgrounds/nav2.png);
}

div#menu > ul > li > a.hidden {
	display: hidden;
}

div#menu > ul > li > a.sub {
	background-color: #651515
}

div.main {
	position: relative;
}

div.main > div.background-image {
	width: 100%;
	min-height: 900px;
	position: relative;
	background-color: white;
}

div.main > div.background-image > img {
	width: 100%;
	height: auto;
	max-width: calc(1020px * .75);
	position: absolute;
	margin-top: 50px;
	right: 0;
}

div.main > div.tabcontents {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-family: Georgia, "Times New Roman", Times, serif; */
	font-size: 13px;
	line-height: 150%;
	padding-right: 410px;
	padding-left: 75px;
	text-align: left;
	position: relative;

	font-weight: 500;
	overflow: auto;
	padding-top: 25px;
	height: auto;
	min-height: 900px;
	clear: both;
	overflow: hidden;

	/*color:#651515*/
	color:#000000

	background-image: url(../images/Web.png);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: right 50px;
	position: absolute;
	top: 0;
	left: 0;
}

div.main > div.tabcontents > div {
	z-index: 2
}

/** Not sure selectors **/
li.hidden{
	visibility: hidden;
}

div.noscroll {
	overflow: hidden;
}
