
<!--<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">-->
<!--<section id="banner">-->

    <!-- carousel -->
    <section id="banner" class="carousel slide carousel-fade" style="z-index: -999;" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/img/banner/banner1.jpg" alt="Los Angeles"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/AustraliaSydneySkyline_scaled.jpg" alt="Sydney skyline"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/NZMilfordSound3.jpg" alt="Sydney skyline"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/CanadaTorontoSkyline3_scaled.jpg" alt="Sydney skyline"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/USGoldenGateBridge.jpg" alt="Chicago"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/ChinaShanghaiBanner2.jpg" alt="Chicago"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/NZWanakabanner.jpg" alt="Chicago"/>
        </div>
        <div class="carousel-item">
          <img src="assets/img/banner/NZWellingtonSkyline_scaled.jpg" alt="Chicago"/>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    <!--</div>-->
    <div class="wrapper">
    <div class="content" style="position:absolute; top:5px; z-index:999;">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Emigratie Adviesbureau Hiltemann</br>
        <p>Thuis in het buitenland</p>{% endif %}</h1>

    </div>
  </div>
</section> <!-- End Section Banner -->
