  <header class="main_header">
    <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}<span>EAH</span>{% endif %} <span id="subslogan">Thuis in het buitenland</span></a>
    <nav class="main_menu">
      <div class="mydropdown-menu">
       <span> Kies uw land </span>
       <div class="mydropdown-content" >
         <a href="{{site.baseurl}}/countries/australie/">Australie</a><br/>
         <a href="{{site.baseurl}}/countries/canada/">Canada</a><br/>
         <a href="{{site.baseurl}}/countries/nieuw-zeeland/">Nieuw-Zeeland</a><br/>
         <a href="{{site.baseurl}}/countries/verenigde-staten/">Verenigde Staten</a><br/>
         <a href="{{site.baseurl}}/countries/china-japan-taiwan/">China, Japan en Taiwan</a><br/>
         <a href="{{site.baseurl}}/countries/overige-landen/">Overige Bestemmingen</a><br/>
       </div>
      </div>
      <a href="{{site.baseurl}}/bedrijven/">Bedrijven</a>
      <a href="{{site.baseurl}}/contact/">Contact</a>
    </nav>
  </header> <!-- End Section Header -->
