
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}E<span>AH</span> Thuis in het buitenland{% endif %}</a>
  <nav class="main_menu">
    <div class="mydropdown-menu">
     <span> Kies uw land </span>
     <div class="mydropdown-content" >
       <a href="{{site.baseurl}}/australie/">Australie</a></br>
       <a href="{{site.baseurl}}/canada/">Canada</a></br>
       <a href="{{site.baseurl}}/new-zealand/">Nieuw-Zeeland</a></br>
       <a href="{{site.baseurl}}/united-states/">Verenigde Staten</a></br>
       <a href="{{site.baseurl}}/chinajapanentaiwan/">China, Japan en Taiwan</a></br>
     </div>
    </div>
    <a href="{{site.baseurl}}/bedrijven/">Bedrijven</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>
  </nav>
</header> <!-- End Section Header -->
