
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}E<span>AH</span> Thuis in het buitenland{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/australia/">Australie</a>
    <a href="{{site.baseurl}}/canada/">Canada</a>
    <a href="{{site.baseurl}}/new-zealand/">Nieuw-Zeeland</a>
    <a href="{{site.baseurl}}/united-states/">Verenigde Staten</a>
    <a href="{{site.baseurl}}/chinaentaiwan/">China, Japan en Taiwan</a>
    <a href="{{site.baseurl}}/Diensten/">Overige landen</a>
    <a href="{{site.baseurl}}/contact/">Contact</a>

  </nav>
</header> <!-- End Section Header -->
