---
layout: default
---
  {% include header.html %}

  {% include banner.html %}<br/>

  <main class="page-content" aria-label="Content">

  <div id="intro">
  <p>EAH zorgt al meer dan 20 jaar voor verantwoorde begeleiding van particulieren en bedrijven die een visum nodig hebben om te werken, studeren of permanent te wonen in Australië, Canada, Nieuw-Zeeland, de Verenigde Staten, of China Japan en Taiwan. Ook voor overige landen bieden wij op-maat begeleiding..</p>

  <p> EAH biedt onder andere de volgende diensten:<p/>

  <p> Volledige Visum Aanvraag<br/>
      Efficiënte begeleiding en een gerichte belangenbehartiging bij de visumaanvraag in het kader van de wetgeving van het betreffende land.<p/>

  <p> Visum Check<br/>
      Wilt u weten of u in aanmerking komt voor emigratie naar Australie, Canada, Nieuw-Zeeland of de Verenigde Staten? Stuur vrijblijvend uw CV op, en wij beoordelen uw kansen binnen een week.<p/>

  <p> Begeleiding voor bedrijven<br/>
      Begeleiding bij het uitsturen van werknemers, het opzetten van een bedrijf, of zaken doen in het buitenland.<p/>

  <p> Beperkte begeleiding voor doe-het-zelvers<br/>
      Doet u de aanvraag liever zelf? Wij bieden ook op-maat begeleiding op uurbasis.<p/>

  <p> Overige landen<br/>
      Wij bieden op-maat advies bij verkenning van uw kansen om te kunnen emigreren naar overige bestemmingen. We zoeken alles voor u uit en helpen op een ad-hoc basis. We stellen samen met u een traject en tarief vast.
<p/>

  <p> Heeft u interesse in een van onze diensten? Neem dan *contact* met ons op.<p/>

  <p> Of klik voor meer informatie hieronder op het gewenste land.<p/>


  </div>
  <section class="chapters cf">
      <div class="wrapper flex-row">
      {{ content }}
      </div>
  </section>
  </main>
  {% include newsletter.html %}

  {% include pagination.html %}

  {% include footer.html %}
